### to_datetime

In [2]:
import pandas as pd

In [3]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [4]:
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [5]:
dt = ['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30:00', '01/05/2016', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dt)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2016-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

### European style dates with day first

In [7]:
pd.to_datetime('30-12-2016')
## US dates are Month first,
## European style dates are Day first

Timestamp('2016-12-30 00:00:00')

In [8]:
pd.to_datetime('5-1-2016', dayfirst=True)

Timestamp('2016-01-05 00:00:00')

## Custom date time format

In [10]:
pd.to_datetime('5$1$2016', format= '%d$%m$%Y')

Timestamp('2016-01-05 00:00:00')

In [12]:
pd.to_datetime('5#1#2016', format= '%m#%d#%Y')

Timestamp('2016-05-01 00:00:00')

In [13]:
pd.to_datetime('2016&5&1', format= '%Y&%m&%d')

Timestamp('2016-05-01 00:00:00')

## Handling invalid dates

In [15]:
pd.to_datetime(['2017-01-05', 'Jan 6, 2017', 'abc'], errors='ignore')
## ingnore the error and won't perform operation on any valid value

Index(['2017-01-05', 'Jan 6, 2017', 'abc'], dtype='object')

In [16]:
pd.to_datetime(['2017-01-05', 'Jan 6, 2017', 'abc'], errors='coerce')
## ingnore the error only and will perform operation on valid values

DatetimeIndex(['2017-01-05', '2017-01-06', 'NaT'], dtype='datetime64[ns]', freq=None)

# Epoch
### Epoch or Unix time means number of seconds that have passed since Jan 1, 1970 00:00:00 UTC time

In [53]:
current_epoch = 1595999978
pd.to_datetime(current_epoch, unit='s')

Timestamp('2020-07-29 05:19:38')

In [51]:
pd.to_datetime(current_epoch*1000, unit='ms')

Timestamp('2020-07-29 05:19:38')

In [56]:
t = pd.to_datetime([current_epoch], unit='s')
t
## from inputing as array creates a DatetimeIndex

DatetimeIndex(['2020-07-29 05:19:38'], dtype='datetime64[ns]', freq=None)

In [57]:
t.view('int64')

array([1595999978000000000], dtype=int64)