In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['A','B','C'])

In [3]:
df1

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
df2 = pd.DataFrame([[13,5,345],[44,8,86],[67,2,97]], columns=['X','Y','Z'])

In [5]:
df2

    X  Y    Z
0  13  5  345
1  44  8   86
2  67  2   97

In [6]:
df3 = pd.merge(df1,df2,right_on='Y',left_on='B')

In [7]:
df3

   A  B  C   X  Y    Z
0  1  2  3  67  2   97
1  4  5  6  13  5  345
2  7  8  9  44  8   86

In [8]:
df4 = pd.merge(df2,df1,right_on='B',left_on='Y')

In [9]:
df4

    X  Y    Z  A  B  C
0  13  5  345  4  5  6
1  44  8   86  7  8  9
2  67  2   97  1  2  3