In [1]:
import pandas as pd

In [2]:
prices=[[16,27,33],[42,95,96],[23,35,58],[50,18,39],[32,67,98],[24,67,22],[23,35,58],[50,18,39]]
df= pd.DataFrame(prices,columns=['jan','feb','march'])

In [3]:
df

   jan  feb  march
0   16   27     33
1   42   95     96
2   23   35     58
3   50   18     39
4   32   67     98
5   24   67     22
6   23   35     58
7   50   18     39

In [8]:
pd.DataFrame(df).to_csv('Output.csv')

In [9]:
df.to_csv('output1.csv',index = False)